extends layout 

block content 
    h1 #{title}

    h2 #{copy.book.title}
    | #{copy.status}

    p Do you really want to delete this copy?

      form(method="POST" action="")
          div.form-group
              input#copyid.form-control(type='hidden',name='copyid', required='true', value=copy._id )
              button.btn.btn-primary(type='submit') Delete